.item {
  margin-bottom: 10px;
  .itemName {
    margin: 10px 20px;
    padding: 2px 8px;
    border: 1px solid #cccccc;
    cursor: pointer;
    &.striked {
      text-decoration: line-through;
    }
  }
  &.disabled {
    cursor: not-allowed;
  }
}
